Source: php-setproctitle
Section: web
Priority: optional
Maintainer: Andras Elso <elso.andras@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-php (>= 2.0~),
               libsetproctitle-dev,
               php-all-dev (>= 28~)
Standards-Version: 3.8.1

Package: php-setproctitle
Architecture: any
Pre-Depends: php-common (>= 2:69~)
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Recommends: ghostscript,
            ttf-dejavu-core
Breaks: ${pecl:Breaks}
Replaces: ${pecl:Replaces}
Suggests: ${pecl:Suggests}
Provides: ${pecl:Provides},
          ${php:Provides}
Description: setproctitle module for PHP
 Set proc title
 .
 This extension provides setproctitle function for setting the
 invoking process's title.


